.root {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: calc(128px + 13px);
}

.item {
    &:nth-child(2) {
        transform: translateY(-13px);
    }
}