@import "@/app/styles/index";

@keyframes cookie-animation {
    0% {
        transform: translateX(-50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translateX(-50%) rotate(30deg) scale(0.9);
    }
    100% {
        transform: translateX(-50%) rotate(0deg) scale(1);
    }
}

.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.logo {
    position: absolute;
    top: hp(120);
    left: 50%;
    transform: translateX(-50%) translateY(0);
    height: hp(88);
    //animation-name: logo-show;
    //animation-duration: 1s;
    //animation-fill-mode: forwards;

    transition: 0.3s ease;
    transition-property: opacity, transform;

    &.is-hidden {
        transform: translateX(-50%) translateY(-300%);
        opacity: 0;
    }
}

.cookie {
    position: absolute;
    height: hp(317);
    top: hp(227);
    left: 50%;
    transform: translateX(-50%) translateY(0);
    //animation-name: cookie-show;
    //animation-duration: 1s;
    //animation-fill-mode: forwards;

    transition: 0.3s ease;
    transition-property: opacity, transform;

    &.is-hidden {
        transform: translateX(200%) rotate(180deg);
        opacity: 0;
    }

    &.is-animated {
        animation: infinite cookie-animation linear 1s;
    }
}

.background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
