.root {
    display: block;
}

.title {
    display: block;
    font-size: 17px;
    line-height: 22px;

    color: rgba(0, 0, 0, 1);
}

.description {
    display: block;
    font-size: 15px;
    line-height: 20px;

    color: rgba(112, 117, 121, 1);

    margin-top: 2px;
}